
/*
color used:
main-layout:  #fff;
app-background:	#d16161;
list-element-background: #d9d9d9;
font-color: #262626;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  height: 100vh;
  font-size: 18px;
}

h1 {
  font-size: 26px;
  font-weight: 700;
  padding: 10px 25px;
}

.container-fluid {
  margin-top: 85px;
  height: 100vh;
}

ul {
  padding-inline-start: 0;
  padding-inline-end: 0;
}

#pokemon-list > li {
  padding: 0;

  border: none;
  border-radius: 0;
}

.btn {
  line-height: 2em;
  background-color: inherit;
  color: black;
  border: none;
  width: 100%;
}

#pokemon-list > li.color1 {
  background-color: lightgray;
}

#pokemon-list > li.color2 {
  background-color: white;
}
